<ion-view title="Home" >
<!--<ion-nav-buttons side="right">

</ion-nav-buttons>
-->
<ion-content>
 <ion-header-bar align-title="center" style=" background: linear-gradient(45deg, #4fa49a, #4361c2);" >
  <div>
     <a  ng-click="backtoLogin()"> <span >  <i style="color:#fff"; class="icon ion-arrow-left-c"></i></span></a>
  </div>
  <h1 class="title" ><img style="width: 50%; height: 100%;    " src="img/DigitEyes-logo-transparent.png " alt=""></h1>
  

</ion-header-bar>
<section id="dashboard-header" class="main style2">
        <div class="container">
          <div class="row 150%">
            <div class="6u 12u$(medium)">
              <ul class="major-icons expandOpen">
                <li><a href="#/CreateABS" class="scrolly" style="border-bottom:0px;"><span class="icon style1 major fa-car"></span><h5 style="margin-top:20px;">Make Vehicle ABS</h5></a></li>
              <li><a href="#/VehicleIntoComp" class="scrolly" style="border-bottom:0px;"><span class="icon style2 major fa-retweet"></span><h5 style="margin-top:20px;">Record Vehicle</h5></a></li>
                <li><span class="icon style3 major fa-check-circle"></span><h5 style="margin-top:20px;">Check Status</h5></li>
                <li><span class="icon style4 major fa-sign-in"></span><h5 style="margin-top:20px;">Into Compound</h5></li>
                <li><span class="icon style5 major fa-sign-out"></span><h5 style="margin-top:20px;">Out of Compound</h5></li>
                <li><span class="icon style6 major fa-dot-circle-o"></span><h5 style="margin-top:20px;">LoadBuild Operation</h5></li>
              </ul>
            </div>
            
          </div>
        </div>
      </section>

      
    </ion-content>
</ion-view>

