<ion-view title="Login" >
    <ion-content>


		<!-- Header -->
			<section id="header">
				<div class="inner">
					<img src="img/DigitEyes-logo-transparent.png" alt="" style="margin:0px auto;width:100%;height:auto;">
					<p ><i>The Next Gen Distribution System</i><br /><!-- <br>
					Get Details Quickly! --></p>					
				
				
						<div  style="margin-top:50px;">
							<header class="major">
								<h2>Welcome to DigitEyes<h2 />
								
							</header>
							<p>Experience realtime distribution solution for better results.</p>
						</div>
						
						<ul class="actions">
						<li><a ng-click="welcomeLogin()" class="button button1" >Discover</a></li>
					</ul>
					</div>
			</section>
	</ion-content>
</ion-view>


		<!-- One -->
			